<header>
    <div class="container">
        <nav>
            <a href="#" class="logo">
                <img src="../icon.png" alt="The Chill Creatives" class="logo-img">
                The Chill Creatives
            </a>
            <ul class="nav-links">
                <li><a href="#services">Web Services</a></li>
                <li><a href="#video-services">Video Services</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>